### Importing Required Libraries

In [2]:
from numpy import array
import pandas as pd
import numpy as np
from datetime import datetime
from numpy import asarray
import random
import csv
from dateutil.relativedelta import relativedelta

##### Reading household historical data from multiple files and cleaning and formatting the data

In [7]:
# Reading Household data from CSV file
cpi_household_1950_1988 = pd.read_csv('../input_data/cpi_household_1950_1988.csv')
cpi_household_1989_2022 = pd.read_csv('../input_data/cpi_household_1989_2022.csv')

#Concatinaing  both the dataframes
household_data = pd.concat([cpi_household_1950_1988, cpi_household_1989_2022], axis=0)
# Converting the 'Dates' column in the cpi_data DataFrame to datetime format
household_data['Dates'] = pd.to_datetime(household_data['Dates']).dt.strftime('%Y-%m-%d')
household_data.to_excel('../output_data/Household_Data.xlsx', index=False)
household_data.head()

,Dates,Food and non-alcoholic beverages,Alcohol and tobacco,Housing and household services,Transport,Other
0,1950-01-01,3.84,-0.26,0.69,0.09,-0.06
1,1950-02-01,3.80,-0.26,0.69,0.09,-0.01
2,1950-03-01,4.21,-0.26,0.75,0.09,0.02
3,1950-04-01,4.26,0.03,0.78,0.09,0.28
4,1950-05-01,3.08,-0.30,0.78,0.13,-0.04